@* <a asp-action="Delete" asp-route-id="@item.Id"
   class="btn btn-sm btn-outline-danger"
   onclick="return confirm('Chúng ta có chắc chắn muốn xóa bài viết này không?')">
    <i class="bi bi-trash"></i> Xóa
</a> *@