@model IEnumerable<CMS.Data.Entities.CategoryProduct>

@{
    Layout = "_LayoutAdmin";
}
<h2 class="text-primary">DANH SÁCH DANH MỤC SẢN PHẨM </h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tên danh mục sản phẩm</th>
            <th>Mô tả</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
            </tr>
        }
    </tbody>
</table>

